$(document).ready(function(){

  $('#requests').DataTable( {
    ajax: {
      url: "<%= ajax_path %>",
      dataSrc: ''
    },
    columns: [
      { data: "id",
        render: function(data, type, full, meta) {
                  return '<a href="<%= title_requests_path %>/' + data + '">View Full Details</a>';
                }  },
      { data: "file_no"},
      { data: "last_name"},
      { data: "first_name"},
      { data: "file_opened"},
      { data: "town"}
    ],
  } );
});
