<% content_for :js do %>
  <script type="text/javascript">
    <%= render 'ajaxindex.js' %>
  </script>
<% end %>

<head>
<%= stylesheet_link_tag "datatables" %>
</head>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table id="requests" cellspacing="0" data-source="<%= title_requests_path(format: :json) %>">
        <thead>
          <tr>
            <th></th>
            <th>File Number</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>File Opened</th>
            <th>Town</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>File Number</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>File Opened</th>
            <th>Town</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
