<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <span id="logo"><%= link_to "CMB&K / BRV / BRA", root_path %></span> 
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "New Request", new_title_request_path %></li>
      </ul>

    </nav>
  </div>
</header>
